<h1>User info</h1>

<div>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.profile_image(100,100) %>
  <% end %>
  <p>name<%= @user.name %></p>
  <p>introduction<%= @user.introduction %></p>
</div>

<%= link_to "Edit", edit_user_path(@user.id) %>
