<!-- 1ユーザーの本の投稿一覧 -->
<h1>Books</h1>

<table class = "table table-striped">

  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>

  <tbody>
    <% books.each do |book| %>
      <tr>
        <td>
          <% if book.user.present? && user.present? %> <!-- @bookと@userがともに存在 -->
            <% target_user = book.user == current_user ? current_user : book.user %>
            <% image_tag_source = target_user.profile_image.attached? ? target_user.profile_image.variant(resize: "100x100") : "no_image.jpg" %>
  
            <%= link_to user_path(target_user) do %>
              <%= image_tag image_tag_source, width: 100, height: 100 %>
            <% end %>
          <% end %>
        </td>
        </td>

        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>

</table>

