<%= render 'users/user_page' %>
<%= render 'books/new_book' %>

<h1>Books</h1>

<table>
  
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td><%= link_to @book.title, book_path(@book) %></td>
      <td><%= @book.opinion %></td>
    </tr>
  </tbody>
  
</table>