<!-- abouotページ -->
<div class="row justify-content-center">
  <div class="col-m-6">
    <h1>Welcome to
      <i class="fas fa-book"></i>
      <b>Bookers</b>!
    </h1>
  </div>
</div>

<%= render 'layouts/footer' %>