<div class="col-lg-6">

  <h1>welcome to
    <i class="fas fa-book"></i>
    Bookers!!
  </h1>

  <p>In<i class="fas fa-book"></i><b>Bookers</b>,</p>

  <p><br>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>

  <div class="col-lg-4">
    <%= form_with(model: @user, url: user_session_path, method: :post) do |f| %>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
    
    <%= link_to new_user_registration_path , class: "btn btn-success" do %>
      Sign up
    <% end %>
    
  </div>

</div>