// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.col-lg-6{
  margin-left: auto;
  margin-right: auto;
}

.btn{
  width: 90%;
  margin: 10px;
}
