<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <footer>
        <p class="text-center">CopyRight Infratop.inc</p>
      </footer>
     </div>
  </div>
</div>